# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myvenv/
.env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker volumes 
pgdata/

# IDE
.vscode/
.idea/